# This is Git's per-user configuration file.
[include]
  path = .gituser-default
[includeIf "gitdir:~/obi/"]
  path = .gituser-obi

[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/azigelsk/.netlify/helper/git-config
[tag]
	forceSignAnnotated = true
