# This is Git's per-user configuration file.
[user]
	name = Ali
	email = ali@crunchtime.dev
	signingkey = 5FBF194681A03B15
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/azigelsk/.netlify/helper/git-config
